{% extends "layout.html" %}
{% block title %}
    قوانین :(
{% endblock %}
{% block content %}
<div class="container">
    <div class="flex_center_all">
        <div class="indexpage_box">

            <div class="logo">
                <a href="/"><img src="../static/images/badoom.svg"></a>
            </div>
            <div class="badoomtextbox">
                <p>
                    هر نوع صحبت بی ادبانه و با ادبانه و هر اعتراف و اعتقادی آزاده منطقا به جز : 
                </p>
                <ul>
                    <li> توهین و بی احترامی به هر فرد حقوقی و حقیقی  </li>
                    <li> توهین و بی احترامی به هر دستگاه دولتی و غیر دولتی  </li>
                    <li> توهین و بی احترامی به هر عقیده و بینش مستقلی  </li>
                    <li> تبلیغات و کسب درآمد  </li>
                    <li> تحریک افراد به انجام کار های بد  </li>
                    <li> و امثالهم دیگه ... آدم باشیم</li>
                </ul>
                <p>
                    گفتنی است تخطی از قوانین بالا به عهده خودتونه نه من
                </p>
        </div>

        </div>
    </div>
</div>
{% endblock %}