{% extends "layout.html" %}
{% block title %}
    بادوم چیه ؟ :)
{% endblock %}
{% block content %}
<div class="container">
    <div class="flex_center_all">
        <div class="indexpage_box">

            <div class="logo">
                <a href="/"><img src="../static/images/badoom.svg"></a>
            </div>
            <div class="badoomtextbox">
                <p>
                    همه ی ما یه کارایی کردیم یا یه اتفاقایی برامون رقم خورده که خیلی عجیب یا جدید بوده و دلمون میخواد اونا رو با بقیه به اشتراک بذاریم , میتونه بد باشه یا خوب , مثه یه بادوم که میتونه تلخ باشه یا شیرین
                    برا منم مثه همه ی آدما این اتفاق افتاد , فهمیدم چقد خوبه که بشه یه سری چیزا و اتفاقا رو به صورت کاملا ناشناس با بقیه آدما در میون گذاشت , و خب به زبان عامه , هرچی هست بریزیم بیرون و خالی شیم
                </p>
                <p>
                     تصمیم گرفتم یه سیستم ساده راه بندازم که آدما توش راحت اعترافا ,خاطرات و خب هرچیزی که نیاز دارن بگن ولی نمیخوان کسی بشناستشون رو به اشتراک بذارن ,شمام خیلی راحت میتونین هرچی تو دلتونه , ساز و کارش اینطوریه که شما یه بادوم رو اضافه میکنین به بقیه <a href="/show">بادوم ها</a> , بعد توی قسمت بادوم ها میتونین بادوم خودتون + بادوم بقیه رو ببینین و شیرینی و تلخیشو مشخص کنین !
                </p>
                <p>
                    بادوم رو به صورت متن باز هم منتشر کردم که اگر یه کوچولو دانش از python , flask و mongodb دارین خودتون بهتر نگاش کنین
                    <a href="https://github.com/itsdiy0/badoom">گیت هاب</a>
                </p>
                <p>
                    اگر حرفی حدیثی مشکلی چیزی بود میتونین با من از طریق این ایمیل ارتباط برقرار کنین
                    <br>
                    email : diyo11jen@gmail.com
                </p>
                <p>
                  خوب و خوش و خندون باشین :)
                </p>
<div class="ccinfo">
             badoom V1.0 - <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons Licence" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a>
            </div>     
            </div>

        </div>
    </div>
</div>
{% endblock %}